@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Silkscreen:wght@400;700&display=swap");

* {
  font-family: "silkScreen", "LXGW WenKai Mono TC", monospace, sans-serif;
  /* 適用於 Webkit 瀏覽器 (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* 適用於 Firefox */
  scrollbar-width: none; /* 隱藏滾動條 */
  scrollbar-color: transparent transparent; /* 避免殘留背景色 */
}

body {
  height: 100vh;
  background-color: #0f212e;
  color: #fff;
}

.alertTitle {
  color: #fff;
}
.confirmBtn {
  background-color: #7066e0 !important;
}

// 禁用input focus外框
input:focus {
  outline: none;
}
